* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/brick-wall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: Roboto, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  background-color: rgba(83, 49, 31, 0.5);
  height: 100vh;
  padding-bottom: 50px;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5%;
}

.left {
  width: 70%;
}

.garage {
  background-image: url(/assets/garage-door.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  z-index: 2;
}

.all-info {
  padding-top: 15px;
}

.hide-info {
  display: none;
}

.item-info {
}

.totals-info {
}

.remote {
  background-color: #363D80;
  color: #fff;
  outline: none;
  border: none;
  height: 30px;
  padding: 0 10px;
  width: 10%;
  margin-left: 5%;
}

.remote:hover {
  cursor: pointer;
  background-color: #A5B748;
}

.title-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.items-title {
  display: inline-block;
}

#switch-list-order {
  background-color: #363D80;
  color: #fff;
  outline: none;
  border: none;
  height: 30px;
  border-radius: 2px;
  padding: 0 10px;
}

#switch-list-order:hover {
  cursor: pointer;
  background-color: #A5B748;
}

.item {
  background-color: #ECE8E6;
  color: #1B1E40;
  border-radius: 3px;
  width: 60%;
  padding: 10px;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.update-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
}

#update-submit {
  background-color: #363D80;
  color: #fff;
  padding: 0 10px;
  outline: none;
  border: none;
  border-radius: 2px;
  height: 20px;
}

#update-submit:hover {
  cursor: pointer;
  background-color: #A5B748;
}

#update-cleanliness {
  height: 20px;
}

.totals-info {
  background-color: #363D80;
  border-radius: 3px;
  padding: 10px;
  width: 60%;
}
.form-container {
  width: 25%;
}

.add-header {
  color: #fff;
}

.form-to-add {
  display: flex;
  flex-direction: column;
}

#new-name,
#new-reason,
#new-cleanliness {
  margin-bottom: 15px;
  height: 35px;
  border: none;
  border-radius: 2px;
}

#new-name {
  margin-top: 15px;
}

#new-reason {

}

#new-cleanliness {

}

#new-submit {
  background-color: #363D80;
  color: #fff;
  outline: none;
  border: none;
  height: 30px;
  border-radius: 2px;
}

#new-submit:hover {
  cursor: pointer;
  background-color: #A5B748;
}
