* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/brick-wall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: Roboto, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  background-color: rgba(83, 49, 31, 0.5);
  height: 100vh;
  padding-bottom: 50px;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5%;
  padding-top: 20px;
}

.left {
  width: 70%;
}

.garage {
  background-image: url(/assets/garage-door.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  z-index: 2;
}

.all-info {
  padding-top: 15px;
}

.hide-info {
  display: none;
}

.remote {
  background-color: #363D80;
  color: #fff;
  outline: none;
  border: none;
  height: 30px;
  padding: 0 10px;
  width: 10%;
  margin-left: 5%;
  font-size: 100%;
}

.remote:hover {
  cursor: pointer;
  background-color: #A5B748;
}

.title-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.items-title {
  display: inline-block;
}

#switch-list-order {
  background-color: #363D80;
  color: #fff;
  outline: none;
  border: none;
  height: 30px;
  border-radius: 2px;
  padding: 0 10px;
  font-size: 100%;
}

#switch-list-order:hover {
  cursor: pointer;
  background-color: #A5B748;
}

.item {
  background-color: #ECE8E6;
  color: #1B1E40;
  border-radius: 3px;
  width: 60%;
  padding: 10px;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.update-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
}

#update-submit {
  background-color: #363D80;
  color: #fff;
  padding: 0 10px;
  outline: none;
  border: none;
  border-radius: 2px;
  height: 20px;
  font-size: 100%;
}

#update-submit:hover {
  cursor: pointer;
  background-color: #A5B748;
}

.update-cleanliness {
  height: 20px;
}

.totals-info {
  background-color: #363D80;
  border-radius: 3px;
  padding: 10px;
  width: 60%;
}

#totals-title {
  margin-bottom: 10px;
}

.total-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "garage sparkling dusty rancid" "totalG totalS totalD totalR";
  text-align: center;
}

#total-garage {
  grid-area: garage;
}

.total-garage {
  grid-area: totalG;
}

#total-sparkling {
  grid-area: sparkling;
}

.total-sparkling {
  grid-area: totalS;
}

#total-dusty {
  grid-area: dusty;
}

.total-dusty {
  grid-area: totalD;
}

#total-rancid {
  grid-area: rancid;
}

.total-rancid {
  grid-area: totalR;
}


.form-container {
  width: 25%;
}

.add-header {
  color: #fff;
}

.form-to-add {
  display: flex;
  flex-direction: column;
}

#new-name,
#new-reason,
#new-cleanliness {
  margin-bottom: 15px;
  height: 35px;
  border: none;
  border-radius: 2px;
  padding-left: 5px;
  font-size: 100%;
}

#new-name {
  margin-top: 15px;
}

#new-submit {
  background-color: #363D80;
  color: #fff;
  outline: none;
  border: none;
  height: 30px;
  border-radius: 2px;
  font-size: 100%;
}

#new-submit:hover {
  cursor: pointer;
  background-color: #A5B748;
}
